build/
cmake-build-*/
*.so
*.pyd
*.dll
__pycache__/
*.pyc
.venv/
venv/
models/*.pth
models/*.pt
models/*.csv
!models/best_model.pth
!models/best_model.onnx
!models/best_model.onnx.data
data/replay_buffer/*
!data/replay_buffer/.gitkeep
.ipynb_checkpoints/
.DS_Store
.vscode/
models/*.jsonemsdk/
build_wasm/

emsdk/
build_wasm/
tailwindcss
